body {
  background-color:#CADEDF;
  color:rgb(0, 0, 0);
  font-family: monospace;
  font-size: large;
  text-align: center;
  margin: auto;
  
  font-weight: 500;
}

.button {
  background-color: #7CB7AF;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 25px;
   /*  margin: 20px 0px 10px 0px; */
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    border: 2px solid black;
    border-radius: 5px;
    width:fit-content;
}

.button:hover {
  background-color: #36534f;
  color: #ffffff;
}


/* Navigation */
nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    background-color: #7CB7AF;
    height: 40px;
    margin: auto;
    
  }

  .burger {
    background-color: transparent;
    border: 0;
    color: #ffffff;
    font-size: 20px;
  }

  nav ul a {
    font-size: 30px;
  }
  
  nav ul a:active {
    color: #36534f;
  }
  
  .welcome {
    text-align: center;
  }
  
  .container {
    margin: auto;
    width:fit-content;
  }

  .container ul {
    list-style: none;
    padding: 0px;
  }
  
  .message_ok {
    background-color: green;
  }
  
  .message_error {
    background-color: red;
  }
  
  a {
    list-style: none;
    color: rgb(0, 0, 0);
  }
  a:hover {
    color: #36534f;
  }
  
  /* Form styles */


  label {
    display: block;
  }
  
  label abbr {
    color: rgb(0, 0, 0);
  }

  input {
    width:100px;
  }
  .submit {
    width: 60px;
  }
  
  input:invalid {
    border: 2px dashed rgb(255, 59, 59);
  }
  
  input:valid {
    border: 1px solid green;
  }
  

  img {
    width: max-content;

  }

   @media screen and (max-width: 800px) {
    .container {
      width: 100%;
    }
    
   }